.bg_white {
  background-color: #fff !important;
}
.bg_blue {
  background-color: #2E33D9 !important;
}
.bg_red {
  background-color: #DE1439 !important;
}
.bg_green {
  background-color: #1BA824 !important;
}
.bg_black {
  background-color: #222 !important;
}
.bg_yellow {
  background-color: #E2E831 !important;
}
.bg_gray {
  background-color: #ccc !important;
}
.p5 {
  padding: 5px !important;
}
.p10 {
  padding: 10px important;
}
.p12 {
  padding: 12px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.p35 {
  padding: 35px !important;
}
.p40 {
  padding: 40px !important;
}
.p45 {
  padding: 45px !important;
}
