/*
  Some basic background color.
*/
.bg_white {
  background-color: #fff !important;
}
.bg_black {
  background-color: #222 !important;
}

/*
  Common padding rules.
*/
.p5 {
  padding: 5px !important;
}
.p10 {
  padding: 10px important;
}
.p12 {
  padding: 12px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.p35 {
  padding: 35px !important;
}
.p40 {
  padding: 40px !important;
}
.p45 {
  padding: 45px !important;
}


/*
  Common margin rules.
*/
.m5 {
  margin: 5px !important;
}
.m10 {
  margin: 10px important;
}
.m12 {
  margin: 12px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.m35 {
  margin: 35px !important;
}
.m40 {
  margin: 40px !important;
}
.m45 {
  margin: 45px !important;
}
